.conteiner
  = render partial: "sheard/header"
  .block
    .memo-right
      .group-nohito
        .group-user-aaa
          = link_to group_path(@group.id), class:'itirann-user' do
            グループの所属ユーザー
        .group-user
          .gggg
          - @group.users.each do |user|
            = link_to user_path(user.id) do
              .group-user-image
                - if user.image.url nil?
                  = image_tag user.image.url ,class:"image-user-face",height:"50px", width:"50px"
                - else
                  = image_tag("/images/dummyface.png",class:"message-user", height: "60px", width: "60px")
      .user-area
        = link_to group_path(@group.id), method: :delete ,class:'up-box' do
          .edit-group-box
            %i.fas.fa-sign-out-alt
            グループを退出する
        = link_to edit_group_path(@group.id), class:'up-box' do
          .edit-group-box
            %i.fas.fa-user-edit
            グループを編集する
        = link_to group_albums_path(@group.id) ,class: 'up-box'do
          .edit-group-box
          %i.fas.fa-camera-retro
          グループのアルバムをみる
      .form-message
        = form_for [@group, @message],id:'new-message' do |f|
          .message-rig
            .message-form
        
              = f.text_field :content, class: 'message-aria', placeholder: 'type a message'
              %label.message-image
                %i.fas.fa-image
                = f.file_field :image, class: 'hidden'
            .message-aria-try
          .message-send
            //%i.far.fa-paper-plane
            %label
              = f.submit 'Send', class: 'hidden'
              %i.fas.fa-paper-plane
    .memo-no-to
      .hen
        %p.orafu
          = @group.name
      .memo-line
        = render partial: 'message', collection: @messages
      

