.conteiner
  =render partial: "sheard/header"
  .main-conteiner
    = form_for @group do |f|
      .class-head
        .class-form
          %ul.class-name-fild
            %li.input-class
              %label.class-name-label
                グリープ名を入力してください
            %li.input-class
              = f.text_field :name, class: 'class-name-input', placeholder: '(例)３−４組'
          .chat-group-form__field.clearfix
            / この部分はインクリメンタルサーチ（ユーザー追加の非同期化)のときに使用します
          .chat-group-form__field.clearfix
           
          .chat-group-form__field.clearfix
            .chat-group-form__field--left
            .chat-group-form__field--right
              = f.submit class: 'chat-group-form__action-btn'
    .show-tai-sitai
      .comand
        %p
          招待したい友達を選んでください。
      - @syoutai_sitai.each do |s|
        = link_to syoutai_group_alert_path(@group.id,s.id) ,method: :post do
          .syoutai-box
            = s.nickname
    .edit-contein
      %p 
        所属ユーザー
      .edit-main
        - @group.users.each do |g|
          = g.nickname
    .edit-shoutai
      %p
        招待中のユーザー
      - @syoutai_tyuu.each do |c|
        .syoutai-tyuu
          = link_to group_alert_path(@group.id,c.id) ,method: :delete do
            = c.nickname
            = c.id
    
    
      
      