.conteiner
  = render partial: "sheard/header"
  .main-block
    .profile-main
      .profile-image-box
        - if @user.image.url nil?
          = image_tag @user.image.url ,class:"image-user-face",height:"300px",max_width: "500px"
        - else
          = image_tag("/images/dummyface.png",class:"message-user", max_height: "300px", max_width: "500px")
        -# .profile-relative-box
        -#   %ul.profile-relati
        -#     %li.profile-nickname
        -#       = @user.nickname
        -#   %ul.profile-relati
        -#     %li.profile-count
        -#       フォロワー
        -#     %li.profile-followers
        -#       = @user.followers.coati
        -#     %li.profile-count
        -#       フォロー
        -#     %li.profile-followers
        -#       = @user.followings.count
        -#   %ul.profile-relati
        -#     %li.profile-count
        -#       友達
        -#     %li.profile-followers
        -#       = @user.matchers.count
      .profile-otomodati
      %p.oooo-profile
        - if @user.id == current_user.id
          = link_to frends_path do
            友達数：
            = @user.followers.where(id:Relationship.where(follower_id:@user.id).select(:following_id)).count
            人
        - else
          友達数：
          = @user.followers.where(id:Relationship.where(follower_id:@user.id).select(:following_id)).count
      .profile-text
        .profile-xam
          %p.profile-xam__are
            = @profile.introduction
        .profile-web-site
          %p
            http:instagram.jp
        .profile-jend
          %p
            男
        .profile-pre
          %p
            = @profile.prefectures
        .profile-age
          %p
            =  @age
      .profile-edit-btn
        - if @user.id == current_user.id
          %p.ssssssssl
            = link_to edit_user_path ,class:'papapa'do
              編集する
        - else
          - if current_user.following?(@user)
            = render 'users/unfollow', user: @user
          - else
            = render 'users/follow', user: @user
    .contn-right
      .contn-right-head
        %p.contn-right-head-fo
          myタグ
        - if @user.id == current_user.id
          %p.jjjj
            = link_to tag_user_path(@user.id), class:'papapa' do
              タグを追加する
        - else
      .contn-right-my
        - @interests.each do |my|
          = link_to interest_path(my.id)  do
            .interests-block
              .interests-block-image
                - if my.id <= 20   
                  = image_tag(my.image ,height: "80px")
                - else
                  -if my.imagelist.url nil?
                    =image_tag(my.imagelist.url ,height: "80px")
                  - else
                    = image_tag("",height: "80px")
              .interests-block-name
                = my.tag
      
    
      
         



          

    