
.head
  .head-left
    - if user_signed_in?
      %ul.left-cont
        %li.head-icon
          = link_to root_path ,class:'roxtuku' do
            %i.fas.fa-home
            ホーム画面に戻る
        %li.head-lesson
          = link_to "ログアウト", destroy_user_session_path, method: :delete,class:'roxtuku'
    - else
      %ul.left-cont
        %li.head-icon
          = link_to root_path do
            %i.fas.fa-paw
        %li.head-lesson
          = link_to "ログイン", new_user_session_path ,class:'roxtuku'
        %li.head-lesson
          -# = link_to "新規登録",new_user_registration_path 
          = link_to "新規登録",step1_signup_index_path  ,class:'roxtuku'
  .head-right
    - if user_signed_in?
      %ul.right-cont
        %li.curent-info
          %li.user-infomation
            フォロワー数:
            = current_user.followers.count          
          %li.user-infomation
            フォロー数
            = current_user.followers.count
          %li.user-infomation
            友達数
            = current_user.followers.where(id:Relationship.where(follower_id:current_user.id).select(:following_id)).count
        %li.user-icon
          = link_to frends_path do
            友達一覧
        %li.user-icon
          = link_to users_path do
            ユーザーを探す
        %li.follow-icon
          = link_to new_group_path do
            %i.fas.fa-user-friends
            グループを作成する
        %li.follow-icon
          = link_to user_path(current_user.id) ,class:'roxtuku'do
            %i.fas.fa-bell
            マイページに行く
    - else
      %ul.right-cont
        %li.user-icon
        %li.user-info
          %p.user-cuser 
            = link_to '' do
              白髪
          %p LEVEL
          %p 12
        %li.follow-icon
          = link_to '' do
            %i.fas.fa-user-friends
        %li.info-icon
          %i.fas.fa-bell