
.head
  .head-left
    - if user_signed_in?
      %ul.left-cont
        %li.head-icon
          %i.fas.fa-paw
        %li.head-lesson
          = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      %ul.left-cont
        %li.head-icon
          %i.fas.fa-paw
        %li.head-lesson
          = link_to "ログイン", new_user_session_path
        %li.head-lesson
          = link_to "新規登録",new_user_registration_path 
  .head-right
    - if user_signed_in?
      %ul.right-cont
        %li.user-icon
        %li.user-info
          %p.user-cuser 
            //= @user.nickname
          %p LEVEL
          %p 12
        %li.follow-icon
          = link_to new_group_path do
            %i.fas.fa-user-friends
        %li.info-icon
          %i.fas.fa-bell
    - else
      %ul.right-cont
        %li.user-icon
        %li.user-info
          %p.user-cuser 
            白髪
          %p LEVEL
          %p 12
        %li.follow-icon
          = link_to new_group_path do
            %i.fas.fa-user-friends
        %li.info-icon
          %i.fas.fa-bell