
.head
  .head-left
    - if user_signed_in?
      %ul.left-cont
        %li.head-icon
          = link_to root_path do
            %i.fas.fa-paw
        %li.head-lesson
          = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      %ul.left-cont
        %li.head-icon
          = link_to root_path do
            %i.fas.fa-paw
        %li.head-lesson
          = link_to "ログイン", new_user_session_path
        %li.head-lesson
          -# = link_to "新規登録",new_user_registration_path 
          = link_to "新規登録",step1_signup_index_path 
  .head-right
    - if user_signed_in?
      %ul.right-cont
        %li.user-icon
          = link_to frends_path do
            友達一覧
        %li.user-info
          %p.user-cuser
            = link_to users_path do
              = current_user.nickname
          %p LEVEL
          %p 12
        %li.follow-icon
          = link_to new_group_path do
            %i.fas.fa-user-friends
        %li.info-icon
          = link_to user_path(current_user.id) do
            %i.fas.fa-bell
    - else
      %ul.right-cont
        %li.user-icon
        %li.user-info
          %p.user-cuser 
            = link_to users_path do
              白髪
          %p LEVEL
          %p 12
        %li.follow-icon
          = link_to new_group_path do
            %i.fas.fa-user-friends
        %li.info-icon
          %i.fas.fa-bell