-# %h2 Log in
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
  -# - if devise_mapping.rememberable?
  -#   .field
  -#     = f.check_box :remember_me
  -#     = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"
-# = render "devise/shared/links"

.conteiner
  = render partial: "sheard/header"
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .login-main
      .login-sub
        .login-left
          .left-exa
            .left-sns
              .left-sns-icon-google
                %i.fab.fa-google
              = link_to "",class:"sns-bb" do
                .sns-box-google
                  %i.fab.fa-google
                  Googleでログイン
            .left-sns
              .left-sns-icon-twitter
                %i.fab.fa-twitter
              = link_to "" do
                .sns-box-twitter
                  %i.fab.fa-twitter
                  twitterでログイン
            .left-sns
              .left-sns-icon-facebook
                = icon('fab', 'facebook-square', class: "facebook-icon")
              = link_to "" do
                .sns-box-facebook
                  %i.fab.fa-facebook-square
                  facebookでログイン
            = render "devise/shared/links"
        .login-right
          .form-log
            = f.label :nickname
            = f.text_field :nickname, autofocus: true, maxlength: "10"
          .form-log
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .form-log
            = f.label :password
            = f.password_field :password, autocomplete: "current-password"
          .form-send
            %label
              %button.submit-sin
                ログインする
                = f.submit "登録して始める",class:"submit-sing"
  