.conteiner
  = render partial: "sheard/header"
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .login-main
      .login-sub
        .login-left
          .left-exa
            .left-sns
              .left-sns-icon-google
                %i.fab.fa-google
              = link_to user_google_oauth2_omniauth_authorize_path, method: :post,class:"sns-bb" do
                .sns-box-google
                  %i.fab.fa-google
                  Googleでログイン
            .left-sns
              .left-sns-icon-twitter
                %i.fab.fa-twitter
              = link_to user_line_omniauth_authorize_path do
                .sns-box-twitter
                  %i.fab.fa-twitter
                  twitterでログイン
            .left-sns
              .left-sns-icon-facebook
                = icon('fab', 'facebook-square', class: "facebook-icon")
              = link_to user_facebook_omniauth_authorize_path do
                .sns-box-facebook
                  %i.fab.fa-facebook-square
                  facebookでログイン
            = render "devise/shared/links"
        .login-right
          .form-log
            = f.label :nickname
            = f.text_field :nickname, autofocus: true, maxlength: "10"
          .form-log
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .form-log
            = f.label :password
            = f.password_field :password, autocomplete: "current-password"
          .form-send
            %label
              %button.submit-sin
                ログインする
                = f.submit "登録して始める",class:"submit-sing"
  